* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 36px;
    color: #333;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.product-image img {
    max-width: 600px;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-details {
    max-width: 500px;
}

.product-details h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.price {
    font-size: 24px;
    color: #888;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.features {
    list-style-type: disc;
    margin-bottom: 20px;
    padding-left: 20px;
}

.features li {
    font-size: 16px;
    color: #444;
    margin-bottom: 5px;
}

.buy-btn {
    color: white
}
/* From Uiverse.io by JaydipPrajapati1910 */ 
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #181717;
  }
  
  .button:hover svg path {
    fill: #181717;
  }